.header {
  display: flex;
  gap: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  align-items: center;
  backdrop-filter: blur(10px);
}
@supports not (backdrop-filter: blur(10px)) {
  .header {
    background-color: var(--gray50);
  }
}
